<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:title" content="<%= htmlWebpackPlugin.options.title %>" />
    <meta name="description" content="Explore a Wide range of Areca / Palm Leaf Products Online. We offer this nature’s gift of stylish &amp; biodegradable dinnerware which is a good alternative to plastic and paper. Being easily disposable and fully compostable, they help us to responsibly reduce the landfills and save the oceans, thus saving our planet Earth.">
    <meta property="og:site_name" content="Erskinne"/>
    <meta name="keyword" content="ALP Wares,Natural,Areca leaf,Palm leaf,Biodegradable,Sustainable,Compostable,Acceptable to earth,Eco-friendly process,Great quality,No chemicals & additives,Unique pattern,Different shapes & sizes,Trendy,Fallen leaf,Dinnerware,Tableware,Plates,Bowls,Cutlery,Spoons,Forks,Knife,Platter,Excellent Prices,Caps,Fans,Trays,Fruit pick fork,New Lifestyle,Going back to earth,Help the environment,Better & smarter living,Be mindful" />
    <meta property="og:description" content="Explore a Wide range of Areca / Palm Leaf Products Online. We offer this nature’s gift of stylish &amp; biodegradable dinnerware which is a good alternative to plastic and paper. Being easily disposable and fully compostable, they help us to responsibly reduce the landfills and save the oceans, thus saving our planet Earth." />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://erskinne.com" />
    <meta property="og:image" content="https://erskinne.com/uploads/article_uploads/generic.jpg" />
    <meta property="og:locale" content="en_US" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@erskinne" />
    <meta name="google-site-verification" content="qmrrs0gTp70jQV-7ncxtC_AdFiLyBQUtOWw2QRVEGbo" />
    <!--
    <link rel="apple-touch-icon" sizes="152x152" href="/dist/apple-touch-icon-152x152-precomposed.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/dist/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/dist/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/dist/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/dist/apple-touch-icon-76x76-precomposed.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/dist/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon" sizes="57x57" href="/dist/apple-touch-icon-57x57-precomposed.png">
    <link rel="apple-touch-icon" href="/dist/apple-touch-icon-precomposed.png">
    -->
    <meta name="msapplication-TileColor" content="#73c5d3"/>
    <meta name="msapplication-TileImage" content="sbx_144x144.png"/>
    <meta name="author" content="ALPWares" />
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="canonical" href="https://erskinne.com/" />
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="apple-touch-icon" href="http://example.com/images/apple-touch-icon.png" />
    <style type="text/css">
    .pagecontent{display:none;}      
    .pageloader{
      width:100vw;
      height:100vh;
      background:#fff;
      z-index:100;
      position:relative;
    }
    .loading{
      width: 50px;
      height: 50px;
      border: 6px solid #e5e5e5;
      border-top-color: #9E0B0F;
      display: block;
      animation: is-rotating 1s infinite;
      border-radius: 50%;
      position:absolute;
      top:49%;
      left:49%;
    }
    @keyframes is-rotating{
      to{
        transform: rotate(1turn)
      }
    }
    </style>
    <script type="text/javascript">
      window.addEventListener('load', (event) => {
        document.getElementById("pageloader").style.display = "none";
        document.getElementById("pagecontent").style.display = "block";
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
</head>
<body class="contact">
<div class="pageloader" id="pageloader"><div class="loading"></div></div>
<div class="container-fluid pagecontent" id="pagecontent">
<header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="index.html"><img src="images/erskinne-logo.png"/></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
       
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="services.html">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="Blogs.html">Blogs</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="contact.html">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link linkedin" href="htts://linkedin.com"></a>
            </li>
            <li class="nav-item">
              <a class="nav-link youtube" href="htts://youtube.com"></a>
            </li>
          </ul>
        </div>      
      </nav>
</header>

  <section class="hero">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 body">
          <h1>CONTACT</h1>
        </div>
      </div>
    </div>
  </section>
  
<section class="container">
  <div class="row pt-5 pb-5">
    <div class="col-lg-6">
      <h2 class="pb-5 pt-5">Get in touch with us</h2>
      <h5 class="pb-3"><strong>Contact</strong></h5>
      <p class="phone"><a href="tel:+97317720176">+973 1772 0176</a></p>
      <p class="phone"><a href="tel:+15672753003">+1 567 275 3003</a></p>
      <h5 class="pt-4 pb-3"><strong>Email</strong></h5>
      <p class="email"><a href="mailto:info@erskinne.com">info@erskinne.com</p>
      <h5 class="pt-4"><strong>Office Address</strong></h5>
      <p class="location pt-3">Office 101, Building 1900,<br/> 5539 Road, 255 Block,<br/> Qalali, Kingdom of Bahrain</p>
      <p class="location pt-3">#14-2205 South Millway,<br/>Mississauga, Ontario L5L 3T2,<br/>Canada</p>
  </div>
  <div class="col-lg-6 pb-5">
    <form role="form" class="contactfrm">
      <div class="form-group pb-3">
        <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" placeholder="First Name" id="name" name="name" required>
      </div>
      <div class="form-group pb-3">
        <input type="email" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" placeholder="Email ID" id="email" name="email" required>
      </div>
      <div class="form-group pb-3">
        <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" placeholder="Company Name" id="companyname" name="companyname" required>
      </div>
      <div class="form-group pb-3">
        <input type="tel" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" placeholder="Contact Number" id="contactnumber" name="contactnumber" required>
      </div>
      <div class="form-group pb-3">
        <input type="text" class="form-control border-top-0 border-right-0 border-left-0 rounded-0" placeholder="Position" id="position" name="position" required>
      </div>
      <div class="form-group pb-3">
        <textarea class="form-control border-top-0 border-right-0 border-left-0 rounded-0" rows="5" placeholder="Message" id="message" name="message" required></textarea>
      </div>
      <button type="submit" id="contactSubmit" class="btn btn-primary pr-4 pl-4 pt-2 pb-2">Submit</button>
    </form>
</div>
</div>
</section>

<footer class="container-fluid">
  <h2 hidden>Erskinne</h2>
  <div class="container">
    <div class="row main pb-4">
    <div class="col-lg-9 m-0 p-0">
    <div class="row m-0">
    <div class="col-lg-3 pl-0 text-lg-left">
      <p class="subhead"><strong>Address</strong></p>
      <p><strong>Erskinne</strong></p>
      <p><strong>Bahrain:</strong></p>
      <p class="m-0 pb-2">Office 101, Building 1900,<br/>5539 Road, 255 Block,<br/>Qalali, Kingdom of Bahrain</p>
      <p class="phone"><a href="mailto:info@alpwares.com">+973 1772 0176</a></p><br/>
      <p class="email"><a href="mailto:info@erskinne.com">info@erskinne.com</p>
    </div>
    <div class="col-lg-3 pt-0 pt-lg-5 pl-0 text-lg-left">
      <p class="pt-4"><strong>Canada:</strong></p>
      <p class="m-0">#14-2205 South Millway,<br/>Mississauga, Ontario L5L 3T2,<br/>Canada</p>
      <p class="phone"><a href="tel:+1 567 275 3003">+1 567 275 3003</a></p>
    </div>

    <div class="col-lg-3 p-0 pl-lg-5 pt-5 pt-lg-0">
      <p class="subhead"><strong>Links</strong></p>
      <ul class="nav">
        <li><a href="/index.html">Home</a></li>
        <li><a href="/services.html">Services</a></li>
        <li><a href="/blogs">Blogs</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
     
    </div>
    <div class="col-lg-3 pl-0 pt-3 pt-lg-0 social">
      <p class="subhead"><strong>Stay Connected</strong></p>
      <p>Follow us on social media to find out the latest updates</p>
      <ul>
        <li><a href="https://linkedin.com/"><img src="images/icon-linkedin.png"></a></li>
        <li class="pr-3"></li><a href="https://youtube.com/"><img src="images/icon-youtube.png"></a></li>
      </ul>
    </div>
    </div>
    </div>
    <div class="col-lg-3 pl-0 pr-0 pt-5 pt-lg-0 map"><img src="images/map.png"/></div>
    </div>

    <div class="row copyright">
    <div class="col-lg-6 col-12">
      <p>&copy; 2022, Erskinne, All rights reserved</p>
      </div>
      <div class="col-lg-6 col-12 text-lg-right">
        <ul>
          <li class="pr-5">Privacy Policy</li>
          <li>Terms of Service</li>
        </ul>
      </div>
      </div>
</footer>

</div>
</body>
</html>